<!DOCTYPE html>
<html>
<head>
<title>webpack-test</title>
<!-- main.js插入inline的script标签 -->
<!-- <script type="text/javascript">
	<%= 
	compilation.assets[
		htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)
	].source()
	%>
</script> -->
</head>
<body>
	<!--注释待删除-->
	<!-- <%= htmlWebpackPlugin.options.date %>
	<% for(var key in htmlWebpackPlugin) {%>
		<%= key %>
	<% } %>
	<% for(var key in htmlWebpackPlugin.files) {%>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>
	<% } %>
	<% for(var key in htmlWebpackPlugin.options) {%>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>
	<% } %> -->

	<!-- 除了main.js剩余外链进来 -->
	<!-- <% for(var k in htmlWebpackPlugin.files.chunks) %>
		<% if(k !== 'main') { %>
			<script type="text/javascript" src = "<%= htmlWebpackPlugin.files.chunks[k].entry %>"></script>
		<% } %>
	<% } %> -->
</body>
</html>